<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="services">
        <section class="section-new-box">
			<div class="new-box">
				<div class="zak_dev">
					<div><a href="#" ><img src="{% static 'img/roll.png'%}" width = 100% height = 100% margin = 0px alt="roll"></a></div>
					<div><a href="#" class="name_product">Roll unagi</a></div>

					<div>
						<div>
							<p class="zak_p">Настоящее произведение искуство созданное в далекой стране под названием Япония, в стране где популярны мульт-сериалы "аниме"</p>
                            <hr>
							<p class="zak_p">В ролл входят такие ингридиенты как: рис, огурец, филе рыбы, филадельфия</p>
						</div>
					</div>
				</div>
                <div class="button_buy">
                    <a href="#" class="new-box_a">149 рублей</a>
                </div>
			</div>
		</section>
    </div>
</body>
</html>